<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel=stylesheet th:href="@{/plugin/codemirror/doc/docs.css}">
    <link rel="stylesheet" th:href="@{/plugin/codemirror/lib/codemirror.css}">

    <link rel="stylesheet" th:href="@{/plugin/codemirror/addon/fold/foldgutter.css}">

    <script th:src="@{/plugin/codemirror/lib/codemirror.js}"></script>
    <script th:src="@{/plugin/codemirror/mode/xml/xml.js}"></script>

    <script th:src="@{/plugin/codemirror/addon/fold/foldcode}"></script>
    <script th:src="@{/plugin/codemirror/addon/fold/foldgutter}"></script>
    <script th:src="@{/plugin/codemirror/addon/fold/brace-fold}"></script>
    <script th:src="@{/plugin/codemirror/addon/fold/comment-fold}"></script>

    <title>首页</title>
    <style>#content {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
</head>
<body onload="show()">
    <div>
        <p>Welcome!</p>
    </div>

    <select id="selectContent" onchange="show()">
        <option th:value="insertSensor" th:selected="|${tag=='InsertSensor'?true:false}|">InsertSensor</option>
        <option value="describeSensor" th:selected="|${tag=='DescribeSensor'?true:false}|">DescribeSensor</option>
        <option value="deleteSensor" th:selected="|${tag=='DeleteSensor'?true:false}|">DeleteSensor</option>
        <option value="insertObservation" th:selected="|${tag=='InsertObservation'?true:false}|">InsertObservation</option>
        <option value="getObservation" th:selected="|${tag=='GetObservation'?true:false}|">GetObservation</option>
        <option value="getCapabilities" th:selected="|${tag=='GetCapabilities'?true:false}|">GetCapabilities</option>
    </select>

    <div id="insertSensor" style="display: none">
        <div>
            <Label>InsertSensorRequest</Label>
            <form th:action="@{/sensor/insertSensor}" method="post" id="insertSensor_form">
                <textarea id="insertSensorRequest" name="requestContent" th:utext="${InsertSensorRequest}"></textarea>
                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("insertSensorRequest"), {
                        mode: "text/html",
                        lineNumbers: true,
                        lineWrapping: true,
                        foldGutter: true,
                        smartIndent: true,
                        lineSeparator: "\n\r"
                    });
                </script>
                <button type="submit" id="insertSensor_btn" style="display:block;margin:0 auto">传感器注册</button>
            </form>
        </div>
        <div>
            <Label>InsertSensorResponse</Label>
            <textarea id="insertSensorResponse" name="responseContent" th:utext="${InsertSensorResponse}"></textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("insertSensorResponse"), {
                    mode: "text/html",
                    lineNumbers: true,
                    lineWrapping: true,
                    foldGutter: true,
                    smartIndent: true,
                    lineSeparator: "\n\r"
                });
            </script>
        </div>
    </div>

    <div id="describeSensor" style="display: none">
        <div>
            <Label>DescribeSensorRequest</Label>
            <form th:action="@{/sensor/describeSensor}" method="post" id="describeSensor_form">
                <textarea id="describeSensorRequest" name="requestContent" th:utext="${DescribeSensorRequest}"></textarea>
                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("describeSensorRequest"), {
                        mode: "text/html",
                        lineNumbers: true,
                        lineWrapping: true,
                        foldGutter: true,
                        smartIndent: true,
                        lineSeparator: "\n\r"
                    });
                </script>
                <button type="submit" id="describeSensor_btn" style="display:block;margin:0 auto">传感器查询</button>
            </form>
        </div>
        <div>
            <Label>DescribeSensorResponse</Label>
            <textarea id="describeSensorResponse" name="responseContent" th:utext="${DescribeSensorResponse}"></textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("describeSensorResponse"), {
                    mode: "text/html",
                    lineNumbers: true,
                    lineWrapping: true,
                    foldGutter: true,
                    smartIndent: true,
                    lineSeparator: "\n\r"
                });
            </script>
        </div>
    </div>

    <div id="deleteSensor" style="display: none">
        <div>
            <Label>DeleteSensorRequest</Label>
            <form th:action="@{/sensor/deleteSensor}" method="post" id="deleteSensor_form">
                <textarea id="deleteSensorRequest" name="requestContent" th:utext="${DeleteSensorRequest}"></textarea>
                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("deleteSensorRequest"), {
                        mode: "text/html",
                        lineNumbers: true,
                        lineWrapping: true,
                        foldGutter: true,
                        smartIndent: true,
                        lineSeparator: "\n\r"
                    });
                </script>
                <button type="submit" id="deleteSensor_btn" style="display:block;margin:0 auto">传感器删除</button>
            </form>
        </div>
        <div>
            <Label>DeleteSensorResponse</Label>
            <textarea id="deleteSensorResponse" name="responseContent" th:utext="${DeleteSensorResponse}"></textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("deleteSensorResponse"), {
                    mode: "text/html",
                    lineNumbers: true,
                    lineWrapping: true,
                    foldGutter: true,
                    smartIndent: true,
                    lineSeparator: "\n\r"
                });
            </script>
        </div>
    </div>

    <div id="insertObservation" style="display: none">
        <div>
            <Label>InsertObservationRequest</Label>
            <form th:action="@{/observation/insertObservation}" method="post" id="insertObservation_form">
                <textarea id="insertObservationRequest" name="requestContent" th:utext="${InsertObservationRequest}"></textarea>
                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("insertObservationRequest"), {
                        mode: "text/html",
                        lineNumbers: true,
                        lineWrapping: true,
                        foldGutter: true,
                        smartIndent: true,
                        lineSeparator: "\n\r"
                    });
                </script>
                <button type="submit" id="insertObservation_btn" style="display:block;margin:0 auto">观测数据注册</button>
            </form>
        </div>
        <div>
            <Label>InsertObservationResponse</Label>
            <textarea id="insertObservationResponse" name="responseContent" th:utext="${InsertObservationResponse}"></textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("insertObservationResponse"), {
                    mode: "text/html",
                    lineNumbers: true,
                    lineWrapping: true,
                    foldGutter: true,
                    smartIndent: true,
                    lineSeparator: "\n\r"
                });
            </script>
        </div>
    </div>

    <div id="getObservation" style="display: none">
        <div>
            <Label>GetObservationRequest</Label>
            <form th:action="@{/observation/getObservation}" method="post" id="getObservation_form">
                <textarea id="getObservationRequest" name="requestContent" th:utext="${GetObservationRequest}"></textarea>
                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("getObservationRequest"), {
                        mode: "text/html",
                        lineNumbers: true,
                        lineWrapping: true,
                        foldGutter: true,
                        smartIndent: true,
                        lineSeparator: "\n\r"
                    });
                </script>
                <button type="submit" id="getObservation_btn" style="display:block;margin:0 auto">观测数据查询</button>
            </form>
        </div>
        <div>
            <Label>GetObservationResponse</Label>
            <textarea id="getObservationResponse" name="responseContent" th:utext="${GetObservationResponse}"></textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("getObservationResponse"), {
                    mode: "text/html",
                    lineNumbers: true,
                    lineWrapping: true,
                    foldGutter: true,
                    smartIndent: true,
                    lineSeparator: "\n\r"
                });
            </script>
        </div>
    </div>

    <div id="getCapabilities" style="display: none">
        <div>
            <Label>GetCapabilitiesRequest</Label>
            <form th:action="@{/getCapabilities}" method="post" id="getCapabilities_form">
                <textarea id="getCapabilitiesRequest" name="requestContent" th:utext="${GetCapabilitiesRequest}"></textarea>
                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("getCapabilitiesRequest"), {
                        mode: "text/html",
                        lineNumbers: true,
                        lineWrapping: true,
                        foldGutter: true,
                        smartIndent: true,
                        lineSeparator: "\n\r"
                    });
                </script>
                <button type="submit" id="getCapabilities_btn" style="display:block;margin:0 auto">服务能力查询</button>
            </form>
        </div>
        <div>
            <Label>GetCapabilitiesResponse</Label>
            <textarea id="getCapabilitiesResponse" name="responseContent" th:utext="${GetCapabilitiesResponse}"></textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("getCapabilitiesResponse"), {
                    mode: "text/html",
                    lineNumbers: true,
                    lineWrapping: true,
                    foldGutter: true,
                    smartIndent: true,
                    lineSeparator: "\n\r"
                });
            </script>
        </div>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>