<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>portfolio</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="block_header">
      <div class="logo"><a href="index.html"><img src="images/logo.gif" width="209" height="44" border="0" alt="logo" /></a></div>
      <div class="Twitter">Follow us on Twitter</div>
      <div class="clr"></div>
      <div class="menu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="sensor.html">Services</a></li>
          <li><a href="observation.html" class="active">Portfolio</a></li>

        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="slider2">
    <div class="slice12">
      <h2>Portfolio </h2>
    </div>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="body_resize">
      <div class="News">
        <h2>What Others Say About Us</h2>
        <div class="bg"></div>
        <p><em>&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;</em></p>
        <p><strong>-John Smith, webdesigner</strong></p>
        <div class="bg"></div>
        <p><em>&quot;Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;</em></p>
<p><strong>-John Smith, webdesigner</strong></p>
      </div>
      <div class="Welcome">
        <h2>Our Project</h2>
        <p>Aliquam erat volutpat. Curabitur blandit odio eget odio eleifend vel mattis augue convallis. Praesent fringilla, eros et tristique tempus, libero metus porttitor velit, at ultrices eros dolor placerat nunc. Fusce ac egestas ante.</p>
        <div class="bg"></div>
        <div class="serv">
          <h2>Portfolio Item</h2>
          <div class="bg"></div>
          <p><img src="images/port_1.jpg" width="233" height="106" alt="img" /></p>
          <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <p><a href="#">+ view project</a></p>
</div>
  <div class="serv">
          <h2>Portfolio Item</h2>
          <div class="bg"></div>
          <p><img src="images/port_2.jpg" width="233" height="106" alt="img" /></p>
          <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <p><a href="#">+ view project</a></p>
</div>
  <div class="serv">
          <h2>Portfolio Item</h2>
          <div class="bg"></div>
          <p><img src="images/port_3.jpg" width="233" height="106" alt="img" /></p>
          <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <p><a href="#">+ view project</a></p>
</div>
  <div class="serv">
          <h2>Portfolio Item</h2>
          <div class="bg"></div>
          <p><img src="images/port_4.jpg" width="233" height="106" alt="img" /></p>
          <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <p><a href="#">+ view project</a></p>
</div>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="footer">
    <div class="resize">
      <div>
        <p class="footer_logo"><a href="#"><img src="images/footer_logo.gif" width="140" height="40" border="0" alt="W3C" /></a></p>
        <p>Copyright © Sitename.com. Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>. All Rights Reserved<br />
          <a href="index.html">Home</a> | <a href="contact.html">Contact</a> | <a href="blog.html">RSS</a></p>
      </div>
    </div>
    <p class="clr"></p>
  </div>
</div>
</body>
</html>