<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/new.css}" rel="stylesheet">
    <link th:href="@{/css/charts-graphs.css}" rel="stylesheet">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/datepicker.css}">
    <link rel="stylesheet" th:href="@{/css/codemirror.css}">
    <link rel="stylesheet" th:href="@{/css/show-hint.css}">
    <script th:src="@{/js/codemirror.js}"></script>
    <script th:src="@{/js/show-hint.js}"></script>
    <script th:src="@{/js/xml-hint.js}"></script>
    <script th:src="@{/js/xml.js}"></script>

    <link th:href="@{/fonts/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        .centerEle {
            height: 300px;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
    </style>


<!--    <script th:src="@{/js/html5shiv.js}"></script>-->
<!--    <script th:src="@{/js/respond.min.js}"></script>-->



    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />



    <script type="text/javascript" th:src="@{/js/easySlider1.5.js}"></script>

    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>

    <script type="text/javascript">
        function finishSelect() {
            var content = '', files = [];
            if (document.getElementById('upload').files === undefined) {
                files[0] = {
                    'name': document.getElementById('upload') && document.getElementById('upload').value
                };
            } else {
                files = document.getElementById('upload').files;
            }

            for (var i = 0; i < files.length; i++) {
                content += files[i].name.split("\\").pop() + ', ';
            }

            if (content !== '') {
                document.getElementById('viewfile').value = content.replace(/\, $/g, '');
            } else {
                document.getElementById('viewfile').value = '';
            }
        }
    </script>



    <script type="text/javascript" charset="utf-8">

        // <![CDATA[
        $(document).ready(function(){
            $("#slider").easySlider({
                controlsBefore:	'<p id="controls">',
                controlsAfter:	'</p>',
                auto: true,
                continuous: true
            });
        });
        // ]]>
    </script>
    <style type="text/css">
        #slider { margin:0; padding:0; list-style:none; }
        #slider ul,
        #slider li { margin:0; padding:0; list-style:none; }
        /*
            define width and height of list item (slide)
            entire slider area will adjust according to the parameters provided here
        */
        #slider li { width:966px; height:348px; overflow:hidden; }
        p#controls { margin:0; position:relative; }
        #prevBtn,
        #nextBtn { display:block; margin:0; overflow:hidden; width:13px; height:28px; position:absolute; left: -13px; top:-210px; }
        #nextBtn { left:966px; }
        #prevBtn a { display:block; width:13px; height:28px; background:url(../../static/images/l_arrow.gif) no-repeat 0 0; }
        #nextBtn a { display:block; width:13px; height:28px; background:url(../../static/images/r_arrow.gif) no-repeat 0 0; }
    </style>
</head>
<body>
<div class="main">
    <div>
        <div>
<!--            <div class="logo"><a th:href="@{index}"><img th:src="@{/images/logo.gif}" width="209" height="44" border="0" alt="logo" /></a></div>-->
            <div class="clr"></div>
            <div class="menu" style="width: 100%; background: #00A7AA; margin-bottom: 20px">
                <ul>
                    <li><a th:href="@{index}">Home</a></li>
                    <li><a th:href="@{register}" class="active">Register</a></li>
                    <li><a th:href="@{sensor}">Sensor</a></li>
                </ul>
            </div>
        </div>
    </div>




    <div>
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                XML-register
                            </div>
                        </div>
                        <div class="widget-body" style="height: 50px">
                            <div class="form-group col-md-3  mb-2">
                                <form th:action="@{/sensor/registry}" method="post" enctype="multipart/form-data" id="insertSensorML-form">
                                    <input type="text" name="viewfile" id="viewfile" placeholder="未选择文件" disabled autocomplete="off" class="form-control">
                                    <input type="file" name="files" style="display: none" onchange="finishSelect();" multiple="multiple" id="upload"/>
                                </form>
                            </div>
                            <label class="btn btn-primary  mb-2" for="upload">浏览</label>
                            <button class="btn btn-primary  mb-2" type="submit" id="insertSensorML-btn">注册</button>
                        </div>
                    </div>
                </div>

                <script th:src="@{/js/javascript.js}"></script>
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">text-register

                        </div>
                        </div>
                        <div class="widget-body" style="height: 900px">

                            <form th:action="@{/sensor/registryByContent}" method="post" id="insertSensorContent-form">
                                <textarea id="code" name="xmlContent"></textarea>
                            </form>

                            <button class="btn btn-primary  mb-2" type="submit" id="insertSensorContent-btn">注册</button>
                        </div>

                   </div>
                </div>
                <script>
                    var dummy = {
                        attrs: {
                            color: ["red", "green", "blue", "purple", "white", "black", "yellow"],
                            size: ["large", "medium", "small"],
                            description: null
                        },
                        children: []
                    };

                    var tags = {
                        "!top": ["top"],
                        "!attrs": {
                            id: null,
                            class: ["A", "B", "C"]
                        },
                        top: {
                            attrs: {
                                lang: ["en", "de", "fr", "nl"],
                                freeform: null
                            },
                            children: ["animal", "plant"]
                        },
                        animal: {
                            attrs: {
                                name: null,
                                isduck: ["yes", "no"]
                            },
                            children: ["wings", "feet", "body", "head", "tail"]
                        },
                        plant: {
                            attrs: {name: null},
                            children: ["leaves", "stem", "flowers"]
                        },
                        wings: dummy, feet: dummy, body: dummy, head: dummy, tail: dummy,
                        leaves: dummy, stem: dummy, flowers: dummy
                    };

                    function completeAfter(cm, pred) {
                        var cur = cm.getCursor();
                        if (!pred || pred()) setTimeout(function() {
                            if (!cm.state.completionActive)
                                cm.showHint({completeSingle: false});
                        }, 100);
                        return CodeMirror.Pass;
                    }

                    function completeIfAfterLt(cm) {
                        return completeAfter(cm, function() {
                            var cur = cm.getCursor();
                            return cm.getRange(CodeMirror.Pos(cur.line, cur.ch - 1), cur) == "<";
                        });
                    }

                    function completeIfInTag(cm) {
                        return completeAfter(cm, function() {
                            var tok = cm.getTokenAt(cm.getCursor());
                            if (tok.type == "string" && (!/['"]/.test(tok.string.charAt(tok.string.length - 1)) || tok.string.length == 1)) return false;
                            var inner = CodeMirror.innerMode(cm.getMode(), tok.state).state;
                            return inner.tagName;
                        });
                    }

                    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                        mode: "xml",
                        lineNumbers: true,
                        extraKeys: {
                            "'<'": completeAfter,
                            "'/'": completeIfAfterLt,
                            "' '": completeIfInTag,
                            "'='": completeIfInTag,
                            "Ctrl-Space": "autocomplete"
                        },
                        hintOptions: {schemaInfo: tags}
                    });
                </script>
            </div>
            <div class="clr"></div>


        </div>

    </div>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>