<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.CharacteristicMapper">
    <sql id="insertFields">
        characteristic_identifier, characteristic_name, characteristic_label, characteristic_value
    </sql>

    <sql id="selectFields">
        characteristic_id, characteristic_identifier, characteristic_name, characteristic_label, characteristic_value
    </sql>

    <insert id="insertData" parameterType="Characteristic">
        INSERT INTO characteristic (<include refid="insertFields"></include>)
        VALUES (#{identifier}, #{name}, #{label}, #{value})
    </insert>

    <delete id="deleteByIdentifier">
        DELETE FROM characteristic
        WHERE characteristic_identifier = #{identifier}
    </delete>

    <delete id="deleteByIdentifierNoNum">
        DELETE FROM characteristic
        WHERE characteristic_identifier like concat(#{identifier},%)
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM characteristic
        WHERE characteristic_id = #{id}
    </delete>

    <select id="selectById" parameterType="int" resultMap="characteristic">
        SELECT <include refid="selectFields"></include>
        FROM characteristic
        WHERE characteristic_id = #{id}
    </select>

    <select id="selectByIdentifier" resultMap="characteristic">
        SELECT <include refid="selectFields"></include>
        FROM characteristic
        WHERE characteristic_identifier = #{identifier}
    </select>

    <select id="selectByIdentifierNoNum" resultMap="characteristic">
        SELECT <include refid="selectFields"></include>
        FROM characteristic
        WHERE characteristic_identifier like concat(#{identifier},%)
    </select>

    <select id="selectByName" resultMap="characteristic">
        SELECT <include refid="selectFields"></include>
        FROM characteristic
        WHERE characteristic_name = #{name}
    </select>

    <select id="selectByLabel" resultMap="characteristic">
        SELECT <include refid="selectFields"></include>
        FROM characteristic
        WHERE characteristic_label = #{label}
    </select>

    <resultMap id="characteristic" type="Characteristic">
        <id property="id" column="characteristic_id"/>
        <result property="identifier" column="characteristic_identifier"/>
        <result property="name" column="characteristic_name"/>
        <result property="label" column="characteristic_label"/>
        <result property="value" column="characteristic_value"/>
    </resultMap>

</mapper>