<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.FoiOffMapper">
    <sql id="insertFields">
        feature_of_interest_id, offering_id
    </sql>

    <sql id="selectFields">
        feature_of_interest_id, offering_id
    </sql>

    <insert id="insertData" parameterType="FoiOff">
        INSERT INTO foi_off (<include refid="insertFields"></include>)
        VALUES (#{foiId}, #{offeringId})
    </insert>

</mapper>