<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.ObservationMapper">
    <sql id="insertFields">
        observation_id, observation_description, observation_time, procedure_id, offering_id, feature_of_interest_id, observation_value
    </sql>

    <sql id="selectFields">
        observation_id, observation_description, observation_time, procedure_id, offering_id, feature_of_interest_id, observation_value
    </sql>

    <insert id="insertData" parameterType="Observation">
        INSERT INTO observation (<include refid="insertFields"></include>)
        VALUES (#{id}, #{description}, #{time}, #{procedureId}, #{offeringId}, #{foiId}, #{value})
    </insert>

    <select id="selectObservationsByConditions" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE 1 = 1
        <if test="offeringIds!=null">
            <foreach collection="offeringIds" item="offeringId" open="and offering_id IN(" close=")" separator=",">
                #{offeringId}
            </foreach>
        </if>
        <if test="procedureIds!=null">
            <foreach collection="procedureIds" item="procedureId" open="and procedure_id IN(" close=")" separator=",">
                #{procedureId}
            </foreach>
        </if>
        <if test="fois!=null">
            <foreach collection="fois" item="foi" open="and feature_of_interest_id IN(" close=")" separator=",">
                #{foi}
            </foreach>
        </if>
        <if test="observedProperties!=null">
            <foreach collection="observedProperties" item="observedProperty" open="and observed_property IN(" close=")" separator=",">
                #{observedProperty}
            </foreach>
        </if>
        <if test="begin!=null">
            and observation_time <![CDATA[>=]]> #{begin}
        </if>
        <if test="end!=null">
            and observation_time <![CDATA[<=]]> #{end}
        </if>
    </select>
    


    <resultMap id="observation" type="Observation">
        <id property="id" column="observation_id"/>
        <result property="description" column="observation_description"/>
        <result property="time" column="observation_time"/>
        <result property="procedureId" column="procedure_id"/>
        <result property="offeringId" column="offering_id"/>
        <result property="foiId" column="feature_of_interest_id"/>
        <result property="observedProperty" column="observed_property"/>
        <result property="value" column="observation_value"/>
    </resultMap>

</mapper>