<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.PhenOffMapper">
    <sql id="insertFields">
        phenomenon_id, offering_id
    </sql>

    <sql id="selectFields">
        offering_id, offering_name, min_time, max_time
    </sql>

    <insert id="insertData" parameterType="PhenOff">
        INSERT INTO phen_off (<include refid="insertFields"></include>)
        VALUES (#{phenomenonId}, #{offeringId})
    </insert>

</mapper>