<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.ProcOffMapper">
    <sql id="insertFields">
        procedure_id, offering_id
    </sql>

    <sql id="selectFields">
        procedure_id, offering_id
    </sql>

    <insert id="insertData" parameterType="ProcOff">
        INSERT INTO proc_off (<include refid="insertFields"></include>)
        VALUES (#{procedureId}, #{offeringId})
    </insert>

</mapper>