<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.ProcPhenMapper">
    <sql id="insertFields">
        procedure_id, phenomenon_id
    </sql>

    <sql id="selectFields">
        procedure_id, phenomenon_id
    </sql>

    <insert id="insertData" parameterType="ProcPhen">
        INSERT INTO proc_phen (<include refid="insertFields"></include>)
        VALUES (#{procedureId}, #{phenomenonId})
    </insert>

</mapper>